<% include partials/_header%>

<div class="container">
    <div class="row">
        <!-- form -->
        <!-- list -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="POST">
                        <div class="form-group">
                            <input type="text" name="title" placeholder="insert title" class="form-control">

                        </div>
                        <div class="form-group">
                            <textarea name="description" id="" cols="80" class="form-control"
                                placeholder="insert desc"></textarea>
                        </div>
                        <button type="submit" name="button" class="btn btn-primary btn-block">Add</button>
                    </form>

                </div>

            </div>

        </div>

        <div class="col-md-8">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>n</th>
                        <th>Title</th>
                        <th>description</th>
                        <th>Operacion</th>

                    </tr>
                </thead>
                <tbody>

                    <% for(var i = 0; i < tasks.length ;i++) { %>
                    <tr>
                        <td> <%=i+1%> </td>
                        <td> <%= tasks[i].title%></td>
                        <td> <%= tasks[i].description%></td>
                        <td>
                            <a href="turn/<%= tasks[i]._id%>"
                                class="btn <%=  tasks[i].status ? 'btn-success' : 'btn-dark' %>">
                                Done
                            </a>

                            <a href="/delete/<%= tasks[i]._id%>" class="btn btn-danger">Delete</a>
                            <a href="/edit/<%= tasks[i]._id%>" class="btn btn-info">Edit</a>
                        </td>
                    </tr>
                    <%}%>
                </tbody>

            </table>
        </div>
    </div>
</div>
<%include partials/_footer %>